body {
  padding: 1em;
}

h1 {
  font-size: 3em;
  padding: 0.5em;
  border-top: 0.05em solid #dadada;
}

.easy {
  font-weight: 200;
  font-size: 1.5em;
}

.brzeLogo {
  width: 30em;
}

.makingPickupEasy {
  font-weight: 200;
}

.carriers {
  color: #00a39c;
  font-weight: normal;
  white-space: nowrap;
}

.intro {
  background-color: #00a39c;
  color: white;
  font-size: 1.2em;
  padding: 1.25em;
  font-weight: 200;
}

.verticalBrze {
  background-color: black;
  padding: 0.4em 0.2em;
  font-weight: 500;
  font-size: 3em;
  float: right;
  color: white;
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

.finally {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.3em;
}

.finally .carriers {
  font-size: inherit;
  color: inherit;
  font-weight: 500;
}

.title {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.fontWeight500 {
  font-weight: 500;
}

.num {
  color: #00a39c;
  font-weight: 500;
  font-size: 1.4em;
  padding-right: 0.2em;
}

.numWrapper {
  padding: 0.3em 0;
}

.currently {
  font-weight: 500;
  font-size: 0.8em;
}

.steps {
  padding: 1em;
  line-height: 1.4em;
}
